@mixin boton {
    margin: 15px auto;
    width: 40%;
    padding: 20px;
    text-align: center;
}
@mixin botonHover {
    background-color: $amarillo;
}
@mixin botonEspecial($fondo:blue,$color:green) {
    background-color: $fondo;
    color: $color;

}

